.movie-card {
    border-radius: 10px;
    background-color: red ;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
  .movie-card{
  box-shadow: 0px 0px 16px rgba(255, 6, 6, 0.973); /* Enhanced shadow on hover */
  
  }
  .movie-card:hover{
    box-shadow: 0px 0px 30px rgba(6, 64, 255, 0.973), 0 12px 32px rgba(233, 5, 5, 0.25); /* Enhanced shadow on hover */

  }